@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Identity


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurneroMVC</title>
    <link rel="stylesheet" href="~/css/navBar.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" href="~/lib/reloj.png" />
</head>
<body class="bodyNavBar">
    <div class="contenedorNavBar">
        <header>
            <div class="logo">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">TurneroMVC</a>
            </div>

            <nav class="navBar">
                <div class="contenedorDeListaDesordenada">
                    <ul class="listaDesordenada">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        @*Aca lo que hago es chequear si mi usuario es Admin o no y depende de eso cambio el nav segun lo que necesite*@

                        @if (Accessor.HttpContext.Session.GetString("Rol").Equals(Rol.ADMINISTRADOR.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cuenta" asp-action="Index">Cuentas</a>
                            </li>
                        } else if (Accessor.HttpContext.Session.GetString("Rol").Equals(Rol.USUARIO.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cuenta" asp-action="Index"><img />Mi Cuenta</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Turno" asp-action="Index">Turnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Nosotros</a>
                        </li>

                    </ul>
                </div>
            </nav>

        <div class="cerrar_sesion">
            <a asp-area="" asp-controller="Login" asp-action="Index">Cerrar Sesión</a>
        </div>

        <div class="relojito">
            <img src="~/lib/reloj.png" alt="" />
        </div>
        </header>
    </div>

    <div class="container2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer_container">
            &copy; 2022 - TurneroMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>