@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor

@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurneroMVC</title>
    <link rel="stylesheet" href="~/css/welcome.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="text-center">
        <h1>Bienvenido/a  @Accessor.HttpContext.Session.GetString("NombreCompleto")</h1>
        <h4>Perfil: @Accessor.HttpContext.Session.GetString("Rol")</h4>
    </div>

    <div class="slider">
        <div class="slides">

            <input type="radio" name="radio-btn" id="radio1" checked />
            <input type="radio" name="radio-btn" id="radio2" />
            <input type="radio" name="radio-btn" id="radio3" />
            <input type="radio" name="radio-btn" id="radio4" />

        

            <div class="slide first">
                <img src="https://www.grorapid.com/insights/content/images/2020/10/Untitled-design--2--1.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="https://www.calgary.ca/content/dam/www/csps/recreation/publishingimages/facilities/pools/killarney/hero-banners/killarney-hero.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="https://emotionaldetox.eu/wp-content/uploads/2020/06/ed1.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="https://www.medical-tribune.de/fileadmin/Medizin_und_Forschung/Artikelbilder/20180417_tai_chi_fotolia_195844610_dsodamin_823.png" alt="" />
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>

        </div>

        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>

      
    </div>

    <script type="text/javascript">
        var counter = 2;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 4) {
                counter = 1;
            }
        }, 5000);
    </script>

</body>

