@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor

@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurneroMVC</title>
    <link rel="stylesheet" href="~/css/welcome.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="text-center">
        <h1>Bienvenido/a  @Accessor.HttpContext.Session.GetString("NombreCompleto")</h1>
        <h4>Perfil: @Accessor.HttpContext.Session.GetString("Rol")</h4>
    </div>

    <div class="slider">
        <div class="slides">

            <input type="radio" name="radio-btn" id="radio1" checked />
            <input type="radio" name="radio-btn" id="radio2" />
            <input type="radio" name="radio-btn" id="radio3" />
            <input type="radio" name="radio-btn" id="radio4" />

        

            <div class="slide first">
                <img src=" https://t3.ftcdn.net/jpg/04/35/27/42/360_F_435274235_iAHX1Ica4V39E7DbegTurz93cNvH1Mwa.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="https://thumbs.dreamstime.com/b/yoga-fitness-people-training-set-one-line-art-continuous-drawing-sports-pilates-athletics-strength-athletic-athlete-woman-gym-254629546.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="https://static.vecteezy.com/system/resources/previews/007/768/046/non_2x/one-single-line-drawing-of-young-sporty-fit-swimmer-jump-to-pool-to-practice-swimming-in-indoor-sport-center-illustration-healthy-lifestyle-sport-concept-modern-continuous-line-draw-design-vector.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="https://www.yogabliss.co.uk/images/yoga/yoga-info-003.jpg" alt="" />
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>

        </div>

        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>

      
    </div>

    <script type="text/javascript">
        var counter = 2;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 4) {
                counter = 1;
            }
        }, 5000);
    </script>

</body>

