
@model string
<h1>Login</h1>
<form asp-action="Login" method="post">
    Usuario:
    <input type="text" name="usuario" />
    Contraseña:
    <input type="password" name="contra" />

    <p style="color:red;">@ViewData["ErrorMessage"]</p>

    <input type="submit" value="Save" />
</form>

