@model string
@{              
                ViewData["Title"] = "Login"; }
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\css\loginIndex.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>@ViewData["Title"] - TurneroMVC</title>

</head>
<body>
    <div class="container">
            <h1>Login</h1>
        
            <form asp-action="Login" method="post">
                <div class="txt_field">
                    <input type="text" name="usuario" required/>
                    <span></span>
                    <label>Mail</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="contra" required/>
                    <span></span>
                    <label>Contraseña</label>
                </div>
                    <p style="color:red;">@ViewData["ErrorMessage"]</p>

                    <input type="submit" value="Login" />
            </form>
  

             <div class="crear_cuenta">
                <a asp-area="" asp-controller="Cuenta" asp-action="Create">¿No tienes una cuenta todavia?</a>
             </div>
    </div>

</body>