
@model string
@{
    //Layout = "_Layout";
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<form asp-action="Login" method="post">
    Usuario:
    <input type="text" name="usuario" />
    Contraseña:
    <input type="password" name="contra" />

    <p style="color:red;">@ViewData["ErrorMessage"]</p>

    <input type="submit" value="Login" />
</form>

<a asp-area="" asp-controller="Cuenta" asp-action="Create">¿No tienes una cuenta todavia?</a>
